{% extends 'main/base.html' %}
{% block content %}
<h2 class="mb-4">Projects</h2>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-3">
            {% if project.image %}
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-text"><small>Technologies: {{ project.technologies_used }}</small></p>
                {% if project.project_link %}
                <a href="{{ project.project_link }}" class="btn btn-primary">View Project</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}